*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Barlow", sans-serif;
    flex: wrap;
}

/* header */

header
{
    border-bottom: 1px solid rgb(175, 173, 173);
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    overflow: hidden;
}
.header0
{
    display: flex;
    margin-left: 70px;
    align-items: center;
    margin-top: 10px;

}
.header1
{
    /* border: 1px solid black; */
    width: 700px;
    display: flex;
    justify-content: space-between;
    /* margin: 10px;
    align-items: center; */
}
.hamburger
{
    height: 23px;
    color: orangered;
    font-weight: bolder;
    position: fixed;
    
}
.logo
{
    height: 23px;
}

.header2
{
    /* border: 1px solid black; */
    width: 570px;
    height: 38px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5px;
    /* margin-top: 6px; */
}
.user
{
    height: 20px;
    margin-right: 11px;
    color: rgb(80, 35, 20);
}
button
{
    width: 130px;
    padding: 8px ;
    padding-left: 15px;
    background-color: rgb(240, 81, 50);
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    margin-right: 0px;
    cursor: pointer;
}
.cart,.vespa
{
    height: 24px;
}
.carttext
{
    display: inline;
    font-size: 14px;
    text-decoration: underline rgb(240, 81, 50);
    color: white;
    font-weight: bolder;
    margin-left: 14px;
}

/* main */

.order
{
    /* border: 3px solid black; */
    display: flex;
    overflow: hidden;

}
.pickup
{
    /* border: 2px solid black; */
    margin: 10px;
    margin-left: 60px;
    width: 350px;
}

.order-text
{
    color: rgb(80, 35, 20);
    font-size: 2rem;
    margin-top: 10px;

}
sup
{
    border: 1px solid ;
    font-size: 16px;
    border-radius: 9px;
    padding: 2px;
    padding-top: 1px;
}

.pickuptext
{
    display: inline;
    font-size: 20px;
    text-decoration: underline rgb(231, 45, 7);
    color: white;
    font-weight: bolder;
    margin-left: 14px;
}

.order-pickup
{
    width: 300px;
    padding: 18px ;
    padding-left: 15px;
    background-color: rgb(218, 49, 16);
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.order-delivery
{
    margin-top: 20px;
    width: 300px;
    padding: 18px ;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
    border: solid 0.5px  #a52a2a ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ordertext
{
    color: #a52a2a;
    margin-left: 13px;
    font-weight: bold;
    font-size: 20px ;

}
.ad
{
    height: 380px;  
    margin-left: 75px; 
    display: flex; 
    justify-content: end;
    
}

/* section */

.advertisements
{
    /* border: 2px solid red; */
    display: flex;
    overflow: hidden;
}

.burger
{
    border: solid rgb(184, 175, 175);
    border-width: 0.1px;
    border-radius: 10px;
    margin-left: 60px;
    width: 603px;
    margin-top: 10px;
}

.ad1
{
    border-radius: 10px;
    width: 600px;
}
.ad-heading
{
    /* border: 1px solid purple; */
    width: 580px;
}

h2
{
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    color: #440000;
}

.ad-para
{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #440000;
}

.ad-button
{
    border: 1px solid rgb(80, 35, 20);
    background-color: white;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    margin: 20px;
    margin-left: 430px;
    font-weight: bold;
    font-size: 18px;
    /* width: 100px; */
}

.ad-button1
{
    border: 1px solid rgb(80, 35, 20);
    background-color: white;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    margin: 20px;
    margin-left: 430px;
    font-weight: bold;
    font-size: 16px;
}

/* footer */

.sub-footer
{
    /* border: 5px solid rgb(7, 5, 5); */
    background-color: rgb(250, 242, 242);
    display: flex;
    margin-top: 200px;
    height: 450px;
    overflow: hidden;
}

.imgx 
{
    height: 400px;
}
.alt-img
{
    height: 500px;
    display: none;
}


.img
{
    /* border: 1px solid ; */
    margin-left: 150px;
}
.img img
{
    height: 400px;
    /* border: 4px solid; */
}

.sub-text
{
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left: 70px;
    width: 600px;
    height: 320px;
}

.sub-text h1
{
    color: #440000;
    font-size: 3rem;
    margin: 20px;


}

.apps
{
    display: flex;
}
.img1
{
    margin-left: 30px;
}

.apps img
{
    width: 200px;
    
}

.app-text
{
    margin-top: 20px;
    margin-left: 30px;
    color: #300101;
}

.footer
{
    background-color: #502314;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.footer p
{
    display: inline;
}

/* next page */

.page
{
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0px;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
}

.page img
{
    height: 25px;
    margin: 8px;
}


.img-text
{
    font-size: 15px;
    margin-bottom: 5px;
    color: #300101;
    font-weight: bolder;
}


@media screen and (max-width: 768px) {

    html,body
    {
        overflow-x: hidden;
    }
    header
    {
        position: fixed;
        top: 0px;
    }
    .header2 button
    {
       display: none;
    }
    
    .header0
    {
        margin-left: 20px;
    }
        
        .pickup
    {
        margin-left: 20px;
        
    }
    
    .order-text
    {
        font-size: 1rem;
    }
    
    .ad
    {
        height: 250px;  
        margin-left: 0px;  
    
    }
    .ad img
    {
        height: 250px;  
        margin-left: 0px;  
        transition: 0.2s ease-in-out;
        
    }
    
    .advertisements
    {
        flex-direction: column;
        align-items: center;
    }
    
    .burger
    {
        width: 580px;
        margin-left: 20px;
    }
    
    .ad1
    {
        width: 580px;
    } 
    
    .ad-heading
    {
        width: 580px;
    }
    
    .ad-button
    {
        margin-left: 40px;
        width: 500px;
    }
    
    .ad-button1
    {
        width: 500px;
        margin-left: 40px;
    }
    
    .sub-footer
    {
        margin-top: 100px;
        width: 768px;
    }
    
    .imgx
    { 
        height: 200px;
        display: none;
    }
    .alt-img
    {
        height: 350px;
        display: block;
        margin-top: 40px;
        margin-left: 40px;
    }
    
    .sub-text h1
    {
       font-size: 2.5rem;
    
    }
    
    .apps img
    {
        width: 150px;
        
    }
    
    .app-text p
    {
        /* margin-top: 20px;
        margin-left: 30px;
        color: #300101; */
        font-size: 14px;
    }
    
    .footer
    {
        font-size: 10px;
    }
    .page
    {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    }

    

@media screen and (max-width: 425px){
    html,body
    {
        overflow-x: hidden;
    }
  


    header
    {
        position: fixed;
        top: 0px;
    }
    .order
    {
        flex-direction: column-reverse;
    }

    .pickup
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .order-button
    {
        width: 100%;
    }
    h1
    {
        font-size: 2.2rem;
    }

    .order-pickup
    {
        margin-top: 20px;
        width: 100%;
    }
    .order-delivery
    {
        width: 100%;
    }

    .advertisements
    {
        width: 100%;
        align-items: start;
    }
    .burger
    {
        width: 380px;
        margin-left: 20px;
    }
    .ad1
    {
        width: 380px;
    }
    .ad-heading
    {
        width: 100%;
    }
    .ad-button
    {
        width: 100%;
        margin-left: 0px;
    }
    .ad-button1
    {
        width: 100%;
        margin-left: 0px;
    }

    .sub-footer
    {
        width: 100%;
        flex-direction: column;
        height: 750px;
    }
    .alt-img
    {
        width: 300px;
        height: 320px;
        margin-left: 60px;
    }
    .sub-text
    {
        margin-top: 50px;
        margin-left: 0px;
        width: 100%;
        height: 320px;
    }
    .sub-text2h2
    {
        margin-top: 0px;
    }
    .sub-text1h1
    {
        margin-bottom: 0px;
    }
    .footer
    {
        flex-direction: column;
    }
    .footer p
        {
        margin-left: 10px;
        font-size: 12px;
    }
    .footer a
    {
        margin-top: 5px;
        font-size: 12px;
    }
    .page
    {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    
}




